html, body, header, #intro, .bg-color{
    height: 100%;
}

#intro{
    background: url("images/note-book.jpg") fixed no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color{
    background-color: rgba(0, 0, 0, 0.4);
}

.titre-header{
    margin-top: 20%;
}

.navbar{
    z-index: 1;
}

/* .jesuis{
    margin-left: auto;
    margin-right: auto;
} */

.arrow{
    margin-left: 50%;
    margin-top: 20%;
}

.sec1{
    background: #ebebeb;
}

.laptop, .data-base, .mobile{
    font-size: 1.5em;
}

.windows{
    color: #01b6eb;
}

.git{
    color: #e84e31;
}

.github{
    color: #000000;
}

.visual, .chrome, .wamp, .filezilla, .windows, .git, .github{
    height: 2em;
    width: 2em;
}
