html, body, header, #intro, .bg-color{
    height: 100%;
}

#intro{
    background: url("images/note-book.jpg") fixed no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color{
    background-color: rgba(0, 0, 0, 0.4);
}

.hr{
    border-top: 2px solid white;
}


