html, body, header, #intro, .bg-color, .sec1, .sec2{
    height: 100%;
}

#intro{
    background: url("images/note-book.jpg") fixed no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color{
    background-color: rgba(0, 0, 0, 0.4);
}

.titre-header{
    margin-top: 20%;
}

.navbar{
    z-index: 1;
}

/* .jesuis{
    margin-left: auto;
    margin-right: auto;
} */

.arrow{
    margin-left: 50%;
    margin-top: 20%;
}

.sec1{
    background: #ebebeb;
}


